@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", serif;
}

:root {
  --color-white: #ffffff;
  --color-gray: #1e1e1e;
  --color-red: #dd2c00;
  --color-yellow: #ffc400;
}

.active {
  color: #dd2c00;
}

.animate {
  animation: pulse 2s ease;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
